<div class="col-md-3">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <%= image_tag "Test.png", alt: "Кулаков Олег", class: "profile-user-img img-responsive img-circle" %>
      <h3 class="profile-username text-center">Кулаков Олег</h3>
      <p class="text-muted text-center">Ruby Back-End Разработчик</p>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-body">
      <strong><i class="fa fa-book margin-r-5"></i> Образование</strong>
      <p class="text-muted">
        Вельский Экономический техникум (ВЭТ)</br>
        "Программное обеспечение вычислительной техники и автоматизированных систем"
      </p>
      <hr>
      <strong><i class="fa fa-map-marker margin-r-5"></i> Местонахождение</strong>
      <p class="text-muted">г. Вельск Архангельской области, Россия</p>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="box box-primary">
    <div class="box-body">
      <ul>
        <li>Профессиональная деятельность на фрилансе: с 2015 года (непостоянно)</li>
        <li>Профессиональные интересы: Анализ данных, системы мониторинга, управления, планирования, принятия решений</li>
        <li>
          Используемые технологии:
          <ul>
            <li>Языки программирования: Ruby, C</li>
            <li>Фреймворки: Rails</li>
            <li>Базы данных: MySQL, PostgreSQL</li>
            <li>
              Операционные системы:
              <ul>
                <li>Microsoft: Windows XP, Windows 7, Windows 10</li>
                <li>Linux Deb-based: Debian, Ubuntu, Linux Mint</li>
                <li>Linux RHEL-based: CentOS</li>
              </ul>
          </ul>
        </li>
        <li>Вспомогательные технологии: Git, Bootstrap, JQuery</li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Мои профили на фриланс-биржах</h3>
    </div>
    <div class="box-body">
      <ul>
        <li>Фрилансим</li>
        <li>FL</li>
        <li>Freelance</li>
        <li>Weblancer</li>
      </ul>
    </div>
  </div>
</div>
