<h3>Кулаков Олег</h3>
<h4>Web Backend разработчик</h4>
<ul>
  <li>Профессиональная деятельность на фрилансе: с 2015 года</li>
  <li>Профессиональные интересы: анализ данных, системы мониторинга, управления, планирования</li>
  <li>Используемые технологии:
    <ul>
      <li>Языки программирования: Ruby, C, C#</li>
      <li>Фреймворки: Rails, Sinatra, .NET</li>
      <li>Базы данных: MySQL, PostgreSQL, SQLlite</li>
      <li>Операционные системы:
        <ul>
          <li>Deb-based: Debian, Ubuntu, Linux Mint</li>
          <li>RedHat-based: CentOS</li>
        </ul>
      </li>
      <li>Вспомогательные технологии: Git, Bootstrap</li>
    </ul>
  </li>
</ul>
Вы можете ознакомиться с моим резюме, а так же просмотреть портфолио.
Способы связи со мной здесь.
