<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title"><%= @title %></h3>
    </div>
    <% if @publications.exists? %>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
      <% @publications.each do |publication| %>
        <tr>
          <td><%= publication.title %></td>
          <td><%= publication.description %></td>
          <td><%= link_to publication.resource_name, publication.link, target: :_blank %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <% else %>
    <div class="box-body">
      К сожалению, в этом разделе пока нет записей. Пожалуйста, загляните позже.
    </div>
    <% end %>
  </div>
</div>
