@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#about, #freelance-profiles {
  li{
    list-style-type: none;
  }
}
.btn-primary {
  background-color: #3c8dbc !important;
  border-color: #367fa9 !important;
}
.btn-primary:hover{
  background-color: #367fa9 !important;
  border-color: #204d74 !important;
}
.btn-primary:active{
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) !important;
}
