<div class="header">
  <table>
    <tr>
      <td width='30%'>
        <h2 class="text-muted"><%= t :my_name %> <small><%= t :my_specialization %></small></h2>
      </td>
      <td width='10%'>
        <span class="glyphicon glyphicon-earphone"></span>
        &nbsp;8(931)418-12-99
      </td>
      <td width='10%'>
        <span class="glyphicon glyphicon-envelope"></span>
        &nbsp; olegkulakov77@gmail.com
      </td>
      <td width='10%'>
        <span class="glyphicon glyphicon-pencil"></span>
        &nbsp; <%= t 'header.write_me' %>
      </td>
      <td width='10%'>
        &nbsp; <%= l Time.now %>
      </td>
    </tr>
  </table>
  <hr>
</div>
